####[mb_config.cnf]####
mb_usbshare_n = /home/share/exe
boot_t = /home/share/exe
boot_update.info = /etc
libmb_clib.so = /lib
libcrypto.so.1.1 = /lib
libssl.so.1.1 = /lib
expect = /bin
libexpect5.45.3.so = /lib
libtcl8.6.so = /lib
tcl.tar.gz = /lib
xtables-multi = /bin
ca_server = /home/share/exe
mb_ca_reader_n = /home/share/exe
lib1d99_0001.so = /lib
lib6588_1514.so = /lib
lib1d99_0013.so = /lib
lib1ea8_b00b.so = /lib
lib1ea8_c00d.so = /lib
lib1ea8_c001.so = /lib
lib1ea8_c021.so = /lib
lib1ea8_c102.so = /lib
lib1ea8_d007.so = /lib
lib04b4_1220.so = /lib
lib04b4_1234.so = /lib
lib4b4c_9005.so = /lib
lib14d6_a002.so = /lib
lib096e_0309.so = /lib
lib096e_0313.so = /lib
lib096e_0702.so = /lib
lib101d_0003.so = /lib
lib287f_00d4.so = /lib
lib465a_0600.so = /lib
lib0680_1901.so = /lib
lib1432_07dc.so = /lib
lib1432_07e2.so = /lib
lib1677_6101.so = /lib
lib2012_1020.so = /lib
lib3254_ff10.so = /lib
lib5448_0003.so = /lib
lib5448_0004.so = /lib
lib6588_1511.so = /lib
lib8829_0013.so = /lib
lib1a56_dd01.so = /lib
libd44f_0803.so = /lib
lib163c_5480.so = /lib
lib1432_07d0.so = /lib
lib2012_2010.so = /lib
libd449_0001.so = /lib
lib096e_0303.so = /lib
lib096e_0801.so = /lib
libabcd_1001.so = /lib
